{% extends 'base.html.twig' %}

{% block content %}
<div class="row g-4">
    <div class="col-lg-3">
        <div class="list-group shadow-sm">
            <div class="list-group-item active">Administrace</div>
            <a class="list-group-item list-group-item-action" href="?action=dashboard">Přehled</a>
            <a class="list-group-item list-group-item-action" href="?action=posts">Příspěvky</a>
            <a class="list-group-item list-group-item-action" href="?action=post_edit">Nový příspěvek</a>
            <a class="list-group-item list-group-item-action" href="?action=uploads">Uploady</a>
            <a class="list-group-item list-group-item-action" href="?action=settings">Nastavení</a>
            <a class="list-group-item list-group-item-action" href="?action=users">Uživatelé</a>
            <a class="list-group-item list-group-item-action text-danger" href="?action=logout">Odhlásit</a>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="card shadow-sm">
            <div class="card-body">
                {% block admin_content %}{% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
