{% extends 'admin/layout.html.twig' %}

{% block admin_content %}
<h2>Uživatelé</h2>
<p>Tento náhled je zatím jen pro čtení. Nové účty vytvářej během instalace nebo přímo v databázi.</p>

<table class="table">
    <thead>
        <tr>
            <th>Uživatel</th>
            <th>Role</th>
            <th>Vytvořen</th>
        </tr>
    </thead>
    <tbody>
        {% for usr in users %}
            <tr>
                <td>{{ usr.username }}</td>
                <td>{{ usr.role }}</td>
                <td>{{ usr.created_at|date('j.n.Y H:i') }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Žádní uživatelé.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
