{% extends "base.html.twig" %}

{% block content %}
    <h2>Seznam položek</h2>

    {% if items is not empty %}
        <ul>
            {% for item in items %}
                <li>
                    <a href="?page=item&id={{ item.id }}">
                        {{ item.title|e }}
                    </a>
                    <small>({{ item.created_at }})</small>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Zatím žádné položky.</p>
    {% endif %}
{% endblock %}
